/* nav{
    background: url('https://i.ibb.co/8zWXR6N/Vector-1.png');
    background-repeat: no-repeat;
    background-position: right;
} */
nav a{
    margin-right: 20px;
    font-weight: 500;
    color: blueviolet;
}
